.content {
  composes: content from '../../styles/styles.css';
}

.main-header {
  composes: main-header from '../../styles/styles.css';
}

.main-paragraph {
  composes: main-paragraph from '../../styles/styles.css';
}
